
<%= render 'layerbegin' %>

<script>
$(document).ready(function(){

    $('#create').click(function(){

        var typevalue;
        if($('#typevalue').val()==0)
        {
            typevalue=$('#typenum').val();
        }else
        {
            typevalue=$('#typetime').val();
        }

location.href='/users/createuser?num='+$('#num').val()+'&startlogin='+$('#startlogin').val()+'&pwdnum='+$('#passnum').val()+'&type='+$('#typevalue').val()+'&typevalue='+typevalue+'&statusvalue='+$('#statusvalue').val();


    });

if($('#typevalue').val()=="")
{
    $('#typevalue').val('0');
}

    $('#selecttype').change(function(){

        $('#typevalue').val($(this).val());

        if($(this).val()==0)
        {
            $('#cishu').addClass('showerr');
            $('#cishu').removeClass('hiddenerr');
            $('#data_1').addClass('hiddenerr');
            $('#data_1').removeClass('showerr');
        }else
        {
            $('#data_1').addClass('showerr');
            $('#data_1').removeClass('hiddenerr');
            $('#cishu').addClass('hiddenerr');
            $('#cishu').removeClass('showerr');
        }

    });



    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    if($('#statusvalue').val()=='')
    {
        $('#statusvalue').val('1');
    }

    $('#selectstatus').change(function(){
        $('#statusvalue').val($(this).val());
    })




});





</script>


<style type="text/css">
    .showerr{
        display: block;
    }
    .hiddenerr{
        display: none;
    }
</style>


<div class="ibox-content form-horizontal m-t">
  <h3>生成用户</h3>



      <br>
      <br>

      <div class="form-group">
        <label class="col-sm-5 control-label">帐号生成数量：</label>
        <div class="col-sm-3">
 <input class="form-control" id="num">

        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-5 control-label">帐号：</label>
        <div class="col-sm-3">
          <input class="form-control" value=<%= @lastuser %>    id="startlogin" >

        </div>
      </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">密码位数：</label>
    <div class="col-sm-3">
      <input class="form-control" value="6"   id="passnum" >
    </div>
  </div>






  <div class="form-group">
    <label class="col-sm-5 control-label">请选择地区：</label>
    <div class="col-sm-3">
      <select data-placeholder="选择省份..." class="form-control" style="" tabindex="2">
        <option value="">请选择省份</option>
        <option value="110000" hassubinfo="true">北京</option>
        <option value="120000" hassubinfo="true">天津</option>
        <option value="130000" hassubinfo="true">河北省</option>
        <option value="140000" hassubinfo="true">山西省</option>
        <option value="150000" hassubinfo="true">内蒙古自治区</option>
        <option value="210000" hassubinfo="true">辽宁省</option>
        <option value="220000" hassubinfo="true">吉林省</option>
        <option value="230000" hassubinfo="true">黑龙江省</option>
        <option value="310000" hassubinfo="true">上海</option>
        <option value="320000" hassubinfo="true">江苏省</option>
        <option value="330000" hassubinfo="true">浙江省</option>
        <option value="340000" hassubinfo="true">安徽省</option>
        <option value="350000" hassubinfo="true">福建省</option>
        <option value="360000" hassubinfo="true">江西省</option>
        <option value="370000" hassubinfo="true">山东省</option>
        <option value="410000" hassubinfo="true">河南省</option>
        <option value="420000" hassubinfo="true">湖北省</option>
        <option value="430000" hassubinfo="true">湖南省</option>
        <option value="440000" hassubinfo="true">广东省</option>
        <option value="450000" hassubinfo="true">广西壮族自治区</option>
        <option value="460000" hassubinfo="true">海南省</option>
        <option value="500000" hassubinfo="true">重庆</option>
        <option value="510000" hassubinfo="true">四川省</option>
        <option value="520000" hassubinfo="true">贵州省</option>
        <option value="530000" hassubinfo="true">云南省</option>
        <option value="540000" hassubinfo="true">西藏自治区</option>
        <option value="610000" hassubinfo="true">陕西省</option>
        <option value="620000" hassubinfo="true">甘肃省</option>
        <option value="630000" hassubinfo="true">青海省</option>
        <option value="640000" hassubinfo="true">宁夏回族自治区</option>
        <option value="650000" hassubinfo="true">新疆维吾尔自治区</option>
        <option value="710000" hassubinfo="true">台湾省</option>
        <option value="810000" hassubinfo="true">香港特别行政区</option>
        <option value="820000" hassubinfo="true">澳门特别行政区</option>
        <option value="990000" hassubinfo="true">海外</option>
      </select>


      <input type="hidden" id="typevalue" value="0">

      <div class="hiddenerr"><span style="color: red;">请选择文化程度</span></div>
    </div>
  </div>



  <div class="form-group">
    <label class="col-sm-5 control-label">文化程度：</label>

    <div class="col-sm-3">
      <select class="form-control m-b" id="wenhuatype">
        <option value="0">A</option>
        <option  value="1">B</option>
        <option value="2">C</option>
        <option  value="3">D</option>
      </select>


      <input type="hidden" id="typevalue" value="0">

      <div class="hiddenerr"><span style="color: red;">请选择文化程度</span></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">类型：</label>

    <div class="col-sm-3">
      <select class="form-control m-b" id="selecttype">
            <option value="0">次数</option>
            <option  value="1">时间</option>
      </select>


      <input type="hidden" id="typevalue" value="0">

      <div class="hiddenerr"><span style="color: red;">请选择类型</span></div>
    </div>
  </div>

  <div class="form-group showerr" id="cishu">
    <label class="col-sm-5 control-label">次数：</label>
    <div class="col-sm-3">
      <input class="form-control" id="typenum">
    </div>
  </div>

  <div class="form-group hiddenerr" id="data_1">
    <label class="col-sm-5 control-label">截止日期：</label>
    <div class="col-sm-3">
      <div class="input-group date">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <input type="text" class="form-control" id="typetime">
      </div>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-5 control-label">权限：</label>
    <div class="col-sm-3">
      <select class="form-control m-b" id="selectstatus">
        <option value="1">正常</option>
        <option  value="0">停用</option>
      </select>
      <input  id="statusvalue" type='hidden'>

      <div class="hiddenerr"><span style="color: red;">设置权限</span></div>
    </div>
  </div>

  <div>
    <input type="button" value="生成" id="create" class="btn btn-w-m btn-success mylink pull-right">
  </div>



      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-9">
        </div>
      </div>






</div>


<%= render 'layerend' %>
