<%= render 'layerbegin' %>
<script>
  $(document).ready(function () {



      $('.i-checks').iCheck({
          checkboxClass: 'icheckbox_square-green',
          radioClass: 'iradio_square-green'
      });



$('#create').click(function(){
   var cpuid=$('#cpuid').val();
    var licensetype=$('#licensetype').val();


    if($('#licensetype').val()=='CS')
    {
        licensetype=0;
    }else
    {
        licensetype=1;
    }


    var licensenum=$('#licensenum').val();
    var licensetime=$('#licensetime').val();

    $.ajax({
        type:'get',
        dataType:'json',
        url:'/createlicenses/ajaxcreate?cpuid='+cpuid+'&licensetype='+licensetype+'&licensenum='+licensenum+'&licensetime='+licensetime,
        success:function(data) {
            $('#license').val(data[0].license);
            $('#create').attr('disabled',"true");
        },
        error : function() {
alert('err');
        }
    });
});



      $('#data_1 .input-group.date').datepicker({
          todayBtn: "linked",
          keyboardNavigation: false,
          forceParse: false,
          calendarWeeks: true,
          autoclose: true
      });



      //alert(ischeck);
      //return false;




      //alert(mycheck);


      $('#CS').on('ifChecked',function(event){
          $('#JZ').iCheck('uncheck');
          $('#csdiv').removeClass('hiddenerr');
          $('#csdiv').addClass('showerr');
          $('#data_1').removeClass('showerr');
          $('#data_1').addClass('hiddenerr');
          $('#JZ').iCheck('uncheck');
          $('#licensetype').val('CS');

      });
      $('#JZ').on('ifChecked',function(event){
          $('#CS').iCheck('uncheck');

          $('#data_1').removeClass('hiddenerr');
          $('#data_1').addClass('showerr');
          $('#csdiv').removeClass('showerr');
          $('#csdiv').addClass('hiddenerr');
          $('#CS').iCheck('uncheck');
          $('#licensetype').val('JZ');
      });










  });
</script>

<style type="text/css">
    .showerr{
        display: block;
    }
    .hiddenerr{
        display: none;
    }
</style>

<div class="ibox-content form-horizontal m-t">
  <h3>序列号</h3>

  <div class="form-group">
    <label class="col-sm-2 control-label">CPUID：</label>
    <div class="col-sm-9">
      <input id="cpuid" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">类型：</label>
    <div class="col-sm-9">
      <div class="col-sm-12">
        <table>
          <td>
            <div class="icheckbox i-checks">
              <label>
                <input type="checkbox" id="CS" value="CS" class="xing"> <i></i> 次数</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </td>
          <td>
            <div class="icheckbox i-checks">
              <label>
                <input type="checkbox" id="JZ" value="JZ" class="xing"> <i></i>截止日期 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </td>
            </table>
      </div>
    </div>
  </div>

  <div class="form-group hiddenerr" id="csdiv">
    <label class="col-sm-2 control-label">次数：</label>
    <div class="col-sm-9">
      <input type="number" id="licensenum" class="form-control">
    </div>
  </div>

  <div class="form-group hiddenerr" id="data_1" >
    <label class="col-sm-2 control-label">截止日期：</label>
    <div class="col-sm-9">
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <input type="text" class="form-control" id="licensetime">
    </div>
  </div>
</div>
<input type="hidden" id="licensetype" >

    <div class="form-group">
      <label class="col-sm-2 control-label">序列号：</label>

      <div class="col-sm-9">
        <input type="text" class="form-control" id="license">

      </div>
    </div>

<div>
  <input type="button" value="生成" id="create" class="btn btn-w-m btn-success mylink pull-right">
</div>
  <%= link_to '返回', createlicenses_path,class:"btn btn-w-m btn-success mylink pull-left" %>
<br>
      <br>
    </div>







<%= render 'layerend' %>
